// Breakpoints
$large-breakpoint: 64em !default;
$medium-breakpoint: 42em !default;

// Headers
$header-heading-color: #FEF5EF !default;
$header-bg-color: #D6E3F8 !default;
$header-bg-color-secondary: #E4BB97 !default;

// Text
$section-headings-color: #9D5C63 !default;
$body-text-color: #584B53 !default;
$body-link-color: #1e6bb8 !default;
$blockquote-text-color: #819198 !default;

// Code
$code-bg-color: #f3f6fa !default;
$code-text-color: #567482 !default;

// Borders
$border-color: ##d95f63 !default;
$table-border-color: #e9ebec !default;
$hr-border-color: #eff0f1 !default;
